body{
    background-image: url(nftpict.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.box{
    height: 480px;
    width: 380px;
    background-color: white;
    margin: 100px auto;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #eee;
    border-radius: 30px;
}
.btn{
    padding: 10px 30px;
    cursor: pointer;
    background:transparent;
    border:0;
    outline: none;
    position: relative;
}
.t-btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 30px;
    transition: .5s;
    background:linear-gradient(to right,salmon,blue)
}
.input{
    top : 140px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.t_input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit.btn{
    width: 85%;
    padding : 10px 30px;
    cursor:pointer;
    display: block;
    margin:auto;
    background:linear-gradient(to right, salmon, skyblue);
    border:0;
    outline: none;
    border-radius: 30px;


}
.check-box{
    margin: 30px 10px 30px 0;

}
span{
    font-size: 12px;
    position: absolute;
    bottom:68px;
   
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}